---
layout: index
title: Jeaye | About
nav-about-class: current
---

<div class="row">
  <article id="timeline" class="col-md-8">
    {% for job in site.categories.jobs %}
    <section itemscope itemtype="http://schema.org/Organization">
      <h3 class="position">
        <span class="title">{{ job.title }}</span>
        {% if job.company %}
          at
          <a href="{{ job.company-url }}">{{ job.company }}</a>
        {% endif %}
      </h3>
      <div class="where-when">
        <div itemscope itemtype="http://schema.org/Event">
          {{ job.start }} &ndash; {{ job.end }}
        </div>
      </div>
      <div class="description">
        {{ job.content }}
      </div>
    </section>
    <hr />
    {% endfor %}
  </article>

  <aside id="summary" class="col-md-4 clearfix">
    <hr class="visible-xs visible-sm" />
    <h2 class="text-center weight-500">I'm experienced with</h2>
    <table id="skills" class="table">
      {% for skill in site.data.skills.primary %}
      <tr>
        <td class="skill-name">{{ skill.name }}</td>
        <td class="skill-progress">
          <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="{{ skill.amount }}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:{{ skill.amount }}%">
              <span class="sr-only">{{ skill.amount }}%</span>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p>Other stuff I use: <b>{{ site.data.skills.use  | join: ', ' }}</b></p>
    <p>Stuff I like: <b>{{ site.data.skills.like  | join: ', ' }}</b></p>
    <p>Hobbies: <b>{{ site.data.skills.hobbies  | join: ', ' }}</b></p>
  </aside>
</div>
