---
layout: index
title: Jeaye | About
nav-about-class: current
---

<div class="pure-g">
  <div class="pure-u-1 pure-u-md-3-4 posts">
    {% for job in site.categories.jobs %}
    <section class="post">
      <header class="post-header">
        <div class="post-date">{{ job.start }} &ndash; {{ job.end }}</div>
        <h2 class="job-title">
          <span>{{ job.title }}</span>
          {% if job.company %}
          <span class="job-at">at</span>
          <a href="{{ job.company-url }}">
            <span class="job-company">{{ job.company }}</span>
          </a>
          {% endif %}
        </h2>
      </header>

      <div class="post-description">
        <p>
          {{ job.content }}
        </p>
      </div>
    </section>
    {% endfor %}
  </div>

  <div class="pure-u-1 pure-u-md-1-4">
    <div class="skills-container">
      <h3 class="text-center">I'm experienced with</h3>
      <table class="skills">
        {% for skill in site.data.skills.primary %}
        <tr>
          <td class="skill-name">{{ skill.name }}</td>
          <td class="skill-progress">
            <div class="progress">
              <div class="progress-bar"
                role="progressbar"
                aria-valuenow="{{ skill.amount }}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width:{{ skill.amount }}%">
                <span class="progress-no-text">{{ skill.amount }}%</span>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      <p><b>Other stuff I use</b>: {{ site.data.skills.use  | join: ', ' }}</p>
      <p><b>Stuff I like</b>: {{ site.data.skills.like  | join: ', ' }}</p>
      <p><b>Hobbies</b>: {{ site.data.skills.hobbies  | join: ', ' }}</p>
    </div>
  </div>
</div>
