---
layout: index
title: "Jeaye (Co-founder, CTO at OkLetsPlay)"
---

<div class="panel-h-box">
  <div class="what-i-do-panel">
    <div class="posts">
      <h1 class="what-i-do-title">Contact Me</h1>
      <section class="post">
        <div class="what-i-do-big">I solve problems</div>

        <p>
          I've not only built games, game engines, compilers, distributed
          back-ends, and web/mobile/desktop apps, but also communities and
          teams. Thousands of developers rely on my open source software every
          day.
        </p>
        <p>
          I'm currently looking for interesting opportunities. What're you
          looking to achieve?
        </p>
        <div class="what-i-do-h-box">
          <div class="what-i-do-thing">
            <h1 class="what-i-do-thing-title">On teams</h1>
            <p>
               I lead critical thinking, facilitate crucial conversations, help
               reach growth objectives, and mentor others.
            </p>
          </div>
          <div class="what-i-do-thing">
            <h1 class="what-i-do-thing-title">When solo</h1>
            <p>
               I build solutions, break into things, research markets and
               communities, and provide a competitive edge.
            </p>
          </div>
        </div>

        <p>
        </p>
      </section>
    </div>
  </div>

  <div class="panel-v-box">
    <div class="toolbox-panel">
      <h1 class="panel-subhead">Channels</h1>
      <ul class="skills">
        {% for chan in site.data.contact.channels %}
        <div class="skill">
          <span class="skill-name">{{ chan.name }}</span>
          <span class="gentle-body-color">
            {% if chan.link %}
              <a href="{{ chan.value }}" title="{{ chan.value }}">{{ chan.value }}</a>
            {% else %}
              {{ chan.value }}
            {% endif %}
          </span>
        </div>
        {% endfor %}
      </ul>
    </div>

    <div class="pgp-panel">
      <h1 class="panel-subhead">PGP key</h1>
      <div class="post">
        {{ site.categories.contact }}
      </div>
    </div>
  </div>
</div>
