<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ site.home_url }}/img/favicon.png">

    <title>{{ page.title }}</title>
    <meta name="author" content="jeaye" />
    <meta name="keywords" content="jeaye,jaeye,jay,wilkerson,{{ page.tags  | join: ', ' }}" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ site.home_url }}/css/all.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.blog_url }}/css/blog.css" />

    <link type="application/atom+xml" rel="alternate" href="https://blog.jeaye.com/feed.xml" title="" />
  </head>

  <body itemscope itemtype="http://schema.org/Person">
    <div class="container">
      <div id="header" class="row hidden-print">
        <header id="me" class="jumbotron col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 fadeInDown animated">

          <div style="margin-top:30px;" class="pull-right icon icon-j"></div>

          <h1>
            <small>My name is </small>
            <strong>Jeaye</strong><small>.</small>
          </h1>
          <p>
          I'm a systems-level functional programmer who's passionate about writing the safest code possible.
          </p>

        </header>
      </div>

      <a href="mailto:contact@jeaye.com"
        target="_blank"
        title="contact@jeaye.com"
        class="social icon icon-mail">
      </a>
      <a href="https://www.linkedin.com/in/jeaye"
        target="_blank"
        title="https://www.linkedin.com/in/jeaye"
        class="social icon icon-in">
      </a>
      <a href="https://github.com/jeaye"
        target="_blank"
        title="https://github.com/jeaye"
        class="social icon icon-github">
      </a>
      <a href="https://blog.jeaye.com/feed.xml"
        target="_blank"
        title="https://blog.jeaye.com/feed.xml"
        class="social icon icon-feed">
      </a>

      <ol id="toc">
        <li class="{{ page.nav-recommendations-class }}">
          <a class="icon icon-tabs" href="{{ site.home_url }}/recommendations">
            <span>Recommendations</span>
          </a>
        </li>
        <li class="{{ page.nav-donate-class }}">
          <a class="icon icon-tabs" href="{{ site.home_url }}/donate">
            <span>Donate</span>
          </a>
        </li>
        <li>
          <a class="icon icon-tabs" href="{{ site.home_url }}/resume.pdf" target="_blank">
            <span>Resume</span>
          </a>
        </li>
        <li class="{{ page.nav-blog-class }}">
          <a class="icon icon-tabs" href="{{ site.blog_url }}">
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a class="icon icon-tabs" href="https://github.com/jeaye">
            <span>Projects</span>
          </a>
        </li>
        <li class="{{ page.nav-about-class }}">
          <a class="icon icon-tabs" href="{{ site.home_url }}">
            <span>About</span>
          </a>
        </li>
      </ol>

      <hr class="blue hidden-print" />
