<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ site.home_url }}/img/favicon.png">

    <meta name="author" content="jeaye" />
    <meta name="keywords" content="jeaye,jesse,wilkerson,c++,modern,software,functional,clojure,programming,{{ page.tags  | join: ', ' }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.tagline }}">

    <link rel="stylesheet" type="text/css" href="{{ site.home_url }}/css/all.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">

    <link type="application/atom+xml" rel="alternate" href="{{ site.blog_url }}/feed.xml" title="" />

    {% seo %}
  </head>

  <body>
    <div class="pure-g">
      <div class="header pure-u-1">
        <div class="pure-g">
          <div class="header-inner pure-u-1 pure-u-md-3-4">
            <div class="header-item pure-u-1 pure-u-md-1-2">
              <h1 class="brand-title">My name is <span class="header-name">Jeaye</span></h1>
              <h2 class="brand-tagline">I'm a systems-level functional programmer with a passion for safety and security.</h2>
            </div>
            <div class="header-item pure-u-1-4">
              <div class="icon icon-j"></div>
            </div>
          </div>
        </div>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="pure-button" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="pure-button" href="#">Github</a>
            </li>
            <li class="nav-item">
              <a class="pure-button" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="pure-button" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="pure-button" href="#">Resume</a>
            </li>
          </ul>
        </nav>

      </div>

      <div class="content pure-u-1 pure-u-md-3-4">
