/* Global bits. */
*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body
{
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  font-family: sans-serif;
}
a
{
  text-decoration: none;
  @include themify($themes)
  {
    color: themed('anchor-color');
  }
}
a:hover,
a:focus
{
  text-decoration: underline;
}

/* Header. */
.header
{
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  padding: 2em 40px 2em 40px;
  text-align: center;

  @include themify($themes)
  {
    background: themed('header-background');
    color: themed('subtitle-color');
  }
}
.header-inner
{
  display: flex;
  flex-flow: row wrap;
}
.header-description
{
  flex: 2;
  text-align: left;
  max-width: 700px;
}
.header-icon
{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.header-title,
.header-short-pitch
{
  margin: 0;
}
.header-short-pitch
{
  font-weight: 300;

  @include themify($themes)
  {
    color: themed('header-short-pitch-color');
  }
}
.header-name
{
  font-size: 2.5em;

  @include themify($themes)
  {
    color: themed('title-color');
  }
}

/* Nav bar. */
.nav
{
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  padding-top: 1em;
}
.nav-item
{
  display: flex;
  flex: 1;
  padding: 0 0.25em;
  white-space: nowrap;
}
.nav-item a
{
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  margin-top: 1em;
  padding: 6px 14px;
  letter-spacing: 0.05em;
  font-size: 85%;

  @include themify($themes)
  {
    color: themed('nav-item-anchor-color');
  }
}
.nav-item a:hover,
.nav-item a:focus
{
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}
.special-nav-item a
{
  border: 2px solid #c2a086;
}
.special-nav-item a:hover,
.special-nav-item a:focus
{
  border: 2px solid #c26d36;
}

/* Panels. */
.panel-h-box
{
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  gap: 10em;
  justify-content: center;
  margin: 0 3em 0 3em;
}
.panel-v-box
{
  display: flex;
  flex-flow: column wrap;
}
.panel-gap
{
  min-width: 10em;
}
.panel-subhead
{
  text-transform: uppercase;
  padding: 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;

  @include themify($themes)
  {
    color: themed('subtitle-color');
  }
}
.main-panel,
.toolbox-panel,
.pgp-panel,
.what-i-do-panel,
.main-blog-panel
{
  margin-top: 2em;
}
.main-panel
{
  display: flex;
  flex: 2;
  max-width: 1280px;
  min-width: 400px;
}
.toolbox-panel
{
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  max-width: 450px;
  min-width: 200px;
}
.what-i-do-panel
{
  display: flex;
  flex: 2;
  flex-flow: column nowrap;
  min-width: 400px;
  max-width: 900px;
}

.what-i-do-h-box
{
  display: flex;
  flex-flow: row nowrap;
  gap: 4em;
  margin-top: 1em;
}
.what-i-do-thing
{
  flex: 1;
}
.what-i-do-thing-title
{
  font-size: 1.0em;
  line-height: 0.5em;
}
.what-i-do-title
{
  font-size: 1.0em;
  line-height: 0.5em;
  text-transform: uppercase;
  margin-bottom: 2em;

  @include themify($themes)
  {
    color: themed('what-i-do-color');
  }
}
.what-i-do-big
{
  font-size: 2.5em;
  line-height: 1em;
  font-weight: bold;

  @include themify($themes)
  {
    color: themed('title-color');
  }
}

/* Jobs. */
.job-title
{
  font-size: 2em;
  margin-bottom: 0.2em;

  @include themify($themes)
  {
    color: themed('title-color');
  }
}
.job-at
{
  font-size: 80%;
  font-weight: 500;

  @include themify($themes)
  {
    color: themed('job-at-color');
  }
}
.job-company
{
  font-size: 90%;

  @include themify($themes)
  {
    color: themed('anchor-color');
  }
}

/* Posts. */
.posts
{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  max-width: 1280px;
}
.post
{
  padding-bottom: 2em;
}
.post-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-title
{
  font-size: 2em;
  margin-bottom: 0.2em;

  @include themify($themes)
  {
    color: themed('title-color');
  }
}
.post-title a
{
  @include themify($themes)
  {
    color: themed('title-color');
    text-decoration-color: themed('title-color');
  }
}
.post-description
{
  font-family: Georgia, "Cambria", serif;
  line-height: 1.8em;

  @include themify($themes)
  {
    color: themed('post-description-color');
  }
}
.post-meta
{
  font-size: 90%;
  margin: 0;

  @include themify($themes)
  {
    color: themed('post-meta-color');
  }
}
.post-date
{
  text-align: right;
  white-space: nowrap;

  @include themify($themes)
  {
    color: themed('post-date-color');
  }
}
.post-updated-date
{
  font-size: 90%;
  font-style: italic;

  @include themify($themes)
  {
    color: themed('post-updated-color');
  }
}
.post-category
{
  margin: 0 0.1em;
  padding: 0.3em 1em;
  background: #999;
  font-size: 80%;

  @include themify($themes)
  {
    color: themed('post-category-color');
  }
}
.post-category-review
{
  background: #5aba59;
}
.post-category-privacy,
.post-category-security
{
  background: #4d85d1;
}
.post-category-rant
{
  background: #8156a7;
}
.post-category-tutorial
{
  background: #df2d4f;
}
.post h1,h2,h3,h4
{
  @include themify($themes)
  {
    color: themed('title-color');
  }
}

/* Toolbox skills. */
.skills
{
  margin: 0;
  padding: 0 3em 0 0;
}
.skill
{
  display: flex;
  gap: 1em;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
}
.skill:last-child
{
  border: none !important;
}
.skill-name
{
  font-size: 80%;
  font-weight: bold;

  @include themify($themes)
  {
    color: themed('title-color');
  }
}

/***** Blog *****/
.main-blog-panel
{
  display: flex;
  justify-content: center;
  margin-left: 10em;
  margin-right: 10em;
}
.blog-header
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.border-bottom
{
  border-bottom: 1px solid #eee;
}

/* Related posts. */
.related-list
{
  list-style-type: none;
}
.related-list li
{
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.related-list li:last-child
{
  border: none;
}
.related-post-title
{
  font-size: 1em;
  margin-bottom: 0.2em;

  @include themify($themes)
  {
    color: themed('title-color');
  }
}
.related-post-title a
{
  @include themify($themes)
  {
    color: themed('title-color');
    text-decoration-color: themed('title-color');
  }
}

/* Figures. */
figure
{
  text-align: center;
  margin: 0 auto;
}
figure img
{
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 2px;
  padding: 5px;
  background: #fff;
}
.figure-2-3
{
  width: 66%;
}
figcaption
{
  padding: 1em 1em 2em 1em;
  word-wrap: normal;
  text-align: center;
  display: inline-block !important;
  width: 66%;
}

code
{
  overflow: auto;
}
