.border-bottom {
  border-bottom: 1px solid #eee;
}

.related-list {
  list-style-type: none;
}
.related-list li {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.related-list li:last-child {
  border: none;
}
.related-post-title {
  font-size: 1em;
  color: #222;
  margin-bottom: 0.2em;
}
.related-post-title a {
  color: #222;
  text-decoration-color: #222;
}

figure {
  text-align: center;
  margin: 0 auto;
}

figure img {
  border: 1px solid rgba(50, 50, 50, 0.5);
  border-radius: 2px;
  padding: 5px;
  background: #fff;
}

.figure-2-3 {
  width: 66%;
}

figcaption {
  padding: 1em 1em 2em 1em;
  word-wrap: normal;
  text-align: center;
  display: inline-block !important;
  width: 66%;
}

