$themes:
(
  old:
  (
    anchor-color: #3d92c9,

    header-background: #3d4f5d,

    subtitle-color: #aaa,

    header-short-pitch-color: #b0cadb,

    title-color: #222,

    nav-item-anchor-color: #fff,
    post-category-color: #fff,

    what-i-do-color: #443843,

    job-at-color: #999,
    post-meta-color: #999,

    post-description-color: #444,
    post-date-color: #444,

    post-updated-color: #5aba59,
  ),
  dark:
  (
  ),
);
