$sans-font: sans-serif;
$serif-font: Georgia, "Cambria", serif;

$themes:
(
  old:
  (
    anchor-color: #3d92c9,

    header-background: #3d4f5d,

    subtitle-color: #999,

    header-short-pitch-color: #b0cadb,

    title-color: #222,
    gentle-body-color: #222,

    nav-item-anchor-color: #fff,
    post-category-color: #fff,

    what-i-do-color: #443843,

    post-updated-color: #5aba59,
  ),
  dark:
  (
  ),
);
