---
layout: index
title: Jeaye | Donate
bitcoin: 1HaMvpDjy7QJBDkcZALJr3s26FxLpv5WtJ
---

<div class="row">
  <article id="timeline" class="col-md-8">
    <section itemscope itemtype="http://schema.org/Organization">
      <h3 class="position"><span class="title">Donate</span></h3>
      <div class="description">
        <p>
        I happily accept <a href="https://en.wikipedia.org/wiki/Bitcoin">Bitcoin</a> donations for <a href="http://github.com/jeaye">my open source work</a>.  I use Bitcoin so it's easy to instantly transfer money, all transfers and balances are transparent, and there's no reliance on untrustworthy middlemen. If you would like to contact me, regarding donations, feel free to do so by email or LinkedIn.
        </p>
      </div>
      <h3 class="position"><a href="bitcoin:{{ page.bitcoin }}">{{ page.bitcoin }}</a></h3>
    </section>
  </article>

  <aside id="summary" class="col-md-4 clearfix">
    <hr class="visible-xs visible-sm" />
    <h2 class="text-center">I use donations for</h2>
    <ul>
      {% for use in site.data.donate.uses %}
        <li>{{ use }}</li>
      {% endfor %}
    </ul>
    <h2 class="text-center">Book wishlist</h2>
    <ul>
      {% for book in site.data.donate.books %}
        <li><a href="{{ book.url }}">{{ book.title }}</a></li>
      {% endfor %}
    </ul>
  </aside>
</div>
