body, html
{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#wrapper
{
  width: 1000px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

#header
{
  /*background-color: #422;*/
  width: 1000px;
}

#nav
{
  /*background-color: #999;*/
  width: 20%;
  height: 100%;
  float: left;
}

#content
{
  /*background-color: #363;*/
  width: 100%;
  float: left;
}

.post_date
{
  float: right;
}

.post_list
{
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

figure
{
  text-align: center;
  margin: 0 auto;
}

figure img
{
  width: 66%;
  border: 1px solid #323232;
  padding: 5px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, .5);
}

figcaption
{
  padding: 1em 1em 2em 1em;
  word-wrap: normal;
  text-align: center;
  display: inline-block;
  width: 66%;
}
