* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
a:hover,
a:focus {
  text-decoration: underline;
}

.header {
  margin: 0;
  padding-bottom: 2em;
  text-align: center;
  top: auto;
  background: rgb(61, 79, 93);
  color: #aaa;
}

.header-inner {
  padding: 2em 3em 0;
  margin: auto;
}

.header-item {
  text-align: left;
  padding-left: 1em;
  margin: auto;
}
.header-title,
.header-tagline {
  margin: 0;
}
.header-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}
.header-name {
  font-size: 2.5em;
  color: #222;
}

.feed {
  float: right;
  height: 30px !important;
}

.nav {
  padding-top: 1em;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  padding: 0 0.25em;
}
.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  padding: 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.content {
  padding: 2em 3em 0;
  margin-left: auto;
  margin-right: auto;
}

.job-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
.job-at {
  color: #999;
  font-size: 80%;
  font-weight: 500;
}
.job-company {
  color: rgb(61, 146, 201);
  font-size: 90%;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
}
.post-title a {
  color: #222;
  text-decoration-color: #222;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}
.post-date {
  color: #444;
  float: right;
}
.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.post-category-review {
  background: #5aba59;
}
.post-category-privacy,
.post-category-security {
  background: #4d85d1;
}
.post-category-rant {
  background: #8156a7;
}
.post-category-tutorial {
  background: #df2d4f;
}
.post h1,h2,h3 {
  color: #222;
}

.related-list {
  list-style-type: none;
}
.related-list li {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.related-list li:last-child {
  border: none;
}
.related-post-title {
  font-size: 1em;
  color: #222;
  margin-bottom: 0.2em;
}
.related-post-title a {
  color: #222;
  text-decoration-color: #222;
}

figure {
  text-align: center;
  margin: 0 auto;
}

figure img {
  width: 66%;
  border: 1px solid #323232;
  padding: 5px;
  background: #fff;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, .5);
}

figcaption {
  padding: 1em 1em 2em 1em;
  word-wrap: normal;
  text-align: center;
  display: inline-block !important;
  width: 66%;
}

/* TODO: Probably remove these. */
.skills-container {
  padding-left: 2em;
}

.skills tbody>tr>td {
  padding: 8px;
  vertical-align: top;
}

.skill-name {
  text-align: right;
}

.skill-progress {
  width: 100%;
}

.progress-no-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

.progress {
  overflow: hidden;
  height: 1.5em;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-transition: width .6s ease;
  transition: width 0.6s ease;
}
