.classy {
  display: inline-block;
  width: 80%;
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url(../img/open_quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}

.classy span {
  display: block;
  background-image: url(../img/close_quote.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.quote_photo {
  position: absolute;
  display: inline-block;
  top: 25px;
  right: 25px;
  float: right;
  width: 100px;
  height: 100px;
  padding:1px;
  border:1px solid #021a40;
}
