ol#toc {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

ol#toc a {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAWCAYAAACcy/8iAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAe0lEQVRYw+3YsQ0BYQCG4ef/IxKVCdjCAm4NS0jscAlXWoSeAVxrEaFUaKwgkbvv3eBp37I+3KbYY4EHiuE1xx3HCVpcL7vV2YBrun6DbcVy6NhvJ8wqnsbRC+9qPBUYE1jAAQcccMABBxxwwAEHHHDAAf8C3HT93w/AD5yMEg674pzhAAAAAElFTkSuQmCC");
  background-size: 100% 100%;
  color: #000;
  display: block;
  float: right;
  padding-left: 10px;
  text-decoration: none;
}

ol#toc li {
  float: right;
  margin: 0 1px 0 0;
}

ol#toc li.current a {
  font-weight: bold;
}

ol#toc span {
  display: block;
  padding-right: 10px;
}

hr.blue {
  background-color: #428bca;
  color: #428bca;
  border-color: #428bca;
}
