ol#toc {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

ol#toc a {
  color: #000;
  display: block;
  float: right;
  padding-left: 10px;
  text-decoration: none;
}

ol#toc li {
  float: right;
  margin: 0 1px 0 0;
}

ol#toc li.current a {
  font-weight: bold;
}

ol#toc span {
  display: block;
  padding-right: 10px;
}

hr.blue {
  background-color: #428bca;
  color: #428bca;
  border-color: #428bca;
  z-index: 10;
}
